body {
    max-height: 100%;
    background: whitesmoke;
}

.alert-warning {
    float: left;
    clear: both;
    width: 1300px;
    margin: 15px 3%;
    text-align: center;
}

form {
    margin-left: 29%;
    width: 500px;
    margin-top: 66px;
}
#h1 {
    margin-left: 11%;
}
#p {
    margin-left:11%;
}
#button {
    margin-left: 11%;
}
aside {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden;
    text-decoration: none;
    float: left;
    background: #181818;
    width: 16%;
    padding: 2.5%;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 120px;
    float: left;
    margin-left: 20px;

}

aside .logo {
    font-size: 25px;
    margin-left: 20px;
    font-weight: bold;
    position: relative;
    top: 16px;
}
aside h1{
    margin-top: 25px;
}
aside h3 {
    margin-top: 55px;
    font-size: 25px;
    margin-left: 16px;
}
.link {
    text-decoration: none
}


aside ul li {
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-top: 30px;
    transition: transform .4s ease;
    margin-left: -30px
}

aside ul li:hover,  aside ul a:hover {
    color: #b0c4de;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: black;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1(font-size: 50px;)
main .features p(max-width: 400px; margin: 20px auto)






