{% extends 'main/new.html' %}

{% block title %}
Про олимпиады
{% endblock %}
{% block content %}

<div class="features">
        <h1>Практическая часть</h1>
        <p></p>
        <p></p>
        <p>Олимпиады в России проводятся уже более 80 лет. Все начиналось с математических и физических олимпиад, которые по формату проведения были похожи на школьные контрольные работы. Организаторы писали на доске задачи, участники записывали решения на листочках и сдавали. Затем узнавали результаты. Иногда задания публиковали в журналах, таких как &laquo;Квант&raquo;. В этом случае школьник отправлял тетрадку с решениями в конверте почтой.</p>
        <p>С тех пор олимпиады развивались и изменялись. Сначала их стали проводить по естественно-научным предметам, а позже по всем остальным и не только по школьным. Сегодня олимпиадные задания охватывают буквально все сферы жизни. Школьники участвуют в состязаниях по дизайну, латинскому языку, менеджменту, основам предпринимательства, робототехнике, финансовой грамотности, биомедицине, востоковедению, журналистике, политологии, инженерным наукам. Всего и не перечислишь.</p>
        <p>Расширились и форматы проведения соревнований. Так как у организаторов нет никаких ограничений, то они постоянно придумывают все новые и новые формы и сочетают уже существующие в невообразимых комбинациях. Получается интересно, но разобраться в этом изобилии и выбрать &laquo;ту самую&raquo; олимпиаду довольно сложно.</p>
        <p>Хотя большинство интеллектуальных состязаний все-таки остались личными, классических очных олимпиад теперь проводится совсем немного.</p>
        <h2>Очные</h2>
        <p></p>
        <p></p>
        <p>Для участия в очной олимпиаде достаточно зарегистрироваться и прийти в заранее известное место проведения. Для удобства участников организаторы некоторых соревнований открывают площадки в крупных региональных центрах, на базе школ или вузов. Так что если повезет, будете писать олимпиаду в родной школе или после состязания прогуляетесь по университету мечты.</p>
        <p>Одним из немногих полностью очных состязаний остается Всероссийская олимпиада школьников.</p>
        <h2>Заочные</h2>
        <p></p>
        <p></p>
        <p>По-другому, онлайн или интернет-олимпиады. Такой формат проведения привлекает участников, ведь им не нужно никуда ехать, достаточно иметь компьютер с доступом в интернет. Для современных школьников это привычная &laquo;среда обитания&raquo;, а интерактивные задания выполнять гораздо интересней.</p>
        <p>Удобство и доступность заочных олимпиад особенно ценят родители младших школьников, которым приходится сопровождать детей, если состязание очное. С интернет-олимпиадами такой проблемы не возникает. Кроме того, заочные олимпиады это шанс для школьников из разных уголков России и из других стран попробовать свои силы.&nbsp;</p>
        <p><span class="krik red">Заочные олимпиады подойдут новичкам, чтобы попробовать свои силы</span></p>
        <p>Правда полностью заочных состязаний не так много. Чаще всего дистанционно проходят отборочные туры. Их количество и продолжительность зависит от правил олимпиады и варьируется от нескольких часов до нескольких недель и даже месяцев. Обычно школьнику предоставляется выбор, в какой момент выполнять задания, главное &mdash; успеть в отведенный промежуток времени. Те, кто успешно проходит заочные испытания, приглашаются на очный финал.</p>
        <p>При всех достоинствах, заочные олимпиады недостоверны. Сложно проверить, сам участник выполнял задания или ему помогали. Поэтому за интернет-олимпиады не дают льготы при поступлении в вузы.</p>
        <p>И все же заочные состязания &mdash; это хорошая тренировка в комфортных для школьника условиях.</p>
    </div>
{% endblock %}